body {
    display: flex;
    flex-direction: column;
    background-color: lightslategray;
}
.feature {
    fill: lightgrey;
    stroke: black;
    stroke-width: 1px;
    stroke-linejoin: round;
}

h1 {
    font-family: sans-serif;
    text-align: center;
    color: white;
}
circle {
    fill: orange;
    stroke: black;
    stroke-width: 3px;
    opacity: .5;
}
svg {
    width: 1900px;
    height: 800px;
}